<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>#1</title>
        <link rel="stylesheet" href="style.css" />
        <script src="https://unpkg.com/vue"></script>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div id="container">
            <!-- Life box -->
            <div class="life">
                <div class="center">
                    <h4>Jogador</h4>
                    <div class="lifeBar">
                        <div :style="[playerLifeBar]"></div>
                    </div>
                    <p>{{ (playerLife * 100).toFixed(0) }}%</p>
                </div>
                <div class="center">
                    <h4>Monstro</h4>
                    <div class="lifeBar">
                        <div :style="[monsterLifeBar]"></div>
                    </div>
                    <p>{{ (monsterLife * 100).toFixed(0) }}%</p>
                </div>
            </div>
            <div v-if="gameOver" class="center">{{ winner }} venceu!</div>
            <br />
            <!-- Buttons box -->
            <div class="buttons">
                <div v-if="running">
                    <button @click="attack" class="btn btn-danger">
                        Ataque
                    </button>
                    <button @click="specialAttack" class="btn btn-warning">
                        Ataque especial
                    </button>
                    <button @click="healPlayer" class="btn btn-success">
                        Curar
                    </button>
                    <button class="btn btn-secondary" @click="giveUp">
                        Desistir
                    </button>
                </div>

                <div v-else>
                    <button class="btn btn-primary" @click="reset">
                        Iniciar jogo
                    </button>
                </div>
            </div>
            <!-- History box -->
            <div v-if="attacks.length > 0" class="history">
                <h3>Histórico</h3>
                <div v-for="(attack) in attacks" :class="attack.who">
                    <p>
                        {{ attack.who.toUpperCase() }} {{ attack.action }}
                        {{ attack.value.toFixed(0) }}
                    </p>
                </div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
